<div class="card col-lg-6 mt-4" style="margin: 0 auto">
  <h2 class="login-style">Reenviar instrucciones de confirmación</h2>
    <div class="card-body">
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), validate: true, html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      <%= f.button :submit, "Reenviar" , class: 'btn btn-primary'%>
    <% end %>
    </div>
  <%= render "users/shared/links" %><br>
</div>