<section id="contact" class="section">
      <div class="container">
        <div class="row justify-content-md-center">          
          <div class="col-md-9 animated fadeInDown">            
            <div class="contact-block">
              <div class="section-header">          
                <h2 class="section-title">Contact <span>Us</span></h2>
                <hr class="lines">
              </div>
                <%= simple_form_for @contact, url: main_index_path, id: 'contactForm' do |f| %>
                <%= f.error_notification %>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.input :name,label: false, class: "form-control", id: 'name', 
                      placeholder: 'Your Name' %>
                    </div>                                 
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.input :email, as: :email,label: false, class: "form-control", id: 'email', 
                      placeholder: 'Please enter your email' %>
                      <div class="help-block with-errors"></div>
                    </div> 
                  </div>
                  <div class="col-md-12">
                    <div class="form-group"> 
                      <%= f.input :message, as: :text, :input_html => { :rows => 10} ,label: false,  class: "form-control", 
                      placeholder: 'Your Message' %>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div style="display: none">
                        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                    </div>
                    <div class="submit-button text-center">
                      <%= button_tag "Send Message", class: 'btn btn-common', 
                          data: { disable_with: "<i class='fa fa-refresh fa-spin'>
                        </i> Please wait..."} %>
                    </div>
                  </div>
                </div>            
               <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>