<div class="card col-lg-5 mt-4" style="margin: 0 auto">
  <h2 class="login-style">Change your password</h2>
    <div class="card-body">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>
        <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
        <%= f.button :submit, "Change my password" , class: 'btn btn-primary'%>
      <% end %>
    </div>
  <%= render "users/shared/links" %>
</div>