<div class="card col-lg-5 mt-4" style="margin: 0 auto">
  <h2 class="login-style">Regístrate</h2>
    <div class="card-body">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>
      <%= f.error_notification %>
      <%= f.input :username, label: "Nombre de usuario",required: true, autofocus: true %>
      <%= f.input :email, required: true %>
      <%= f.input :password, label: "Contraseña",required: true, hint: ("#{@minimum_password_length} caracteres como mínimo" if @minimum_password_length) %>
      <%= f.input :password_confirmation, label: "Confirmar Contraseña",required: true %>
      <%= f.button :submit, "Regístrate" , class: 'btn btn-primary'%>
    <% end %>
    </div>
  <%= render "users/shared/links" %>
</div>